body {
  background-image: url('../images/code.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;

}
@media (max-width: 900px) { /* 900px or less*/
  .display-3{
    font-size: xx-large;
  }
}
@media (max-width: 1200px) and (min-width: 900px){/* 900px - 1200px*/
  .display-3{
    font-size: xxx-large;
  }
}

@media (max-width: 900px) { /* 900px or less*/
  .display-5{
    font-size: x-large;
  }
}
@media (max-width: 1200px) and (min-width: 900px){/* 900px - 1200px*/
  .display-5{
    font-size: xx-large;
  }
}

/* Mobile view*/
/* currently disabled, uncomment to activate*/
/*@media (max-width: 1200px) and (min-height: 840px){/* - 1200px*/
/*  .pc-view{
    display: none;
  }
  
}

/* PC view*/
/*@media (min-width: 1200px), (max-height: 840px){/* 1200px - */
  .mobile-view{
    display: none;
  }
  .row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .card{
    height: 100%;
  }
/*}*/
.background{
  position: relative;
}

.container-fluid{
  padding: 3% 10%
}

.nav-item{
  padding-right: 2rem;
}
.card-body{
  color: black;
}

.name{
  font-weight: bolder;
}

.fist-name{
  color: grey;
}

.overview, .heading, .card{
  border-radius: 10px;
}

.last-name{
  color: lightgrey;
}

.bottom{
  border-radius: 10px 10px 0 0;
}

.logo{
  height: 160px;
  width: auto;
  margin: auto;
}

.logo_wrapper{
  padding: 30px;
}

.skill_button_more{
  margin: auto;
}
.copyright{
  margin-bottom:0px;
}
.skills-card-content{
  text-align: left;
}



.content-to-scroll{
  position: relative;
  overflow-y: scroll;
  height: 600px;
  border-radius: 10px;
}

.skills .nav-item{
  padding: 0 5px 0 0;
  margin: auto 0;
}
.skills .nav-item .last-item{
  padding: 0;
}

a.nav-link-skills:hover{
  color:#007bff;
}
  
