body {
  background-image: url('../images/code.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;

}
@media (max-width: 900px) { /* 900px or less*/
  .display-3{
    font-size: xx-large;
  }
}
@media (max-width: 1200px) and (min-width: 900px){/* 900px - 1200px*/
  .display-3{
    font-size: xxx-large;
  }
}
.background{
  position: relative;
}

.container-fluid{
  padding: 3% 10%
}

.nav-item{
  padding-right: 2rem;
}
.card-body{
  color: black;
}

.name{
  font-weight: bolder;
}

.fist-name{
  color: grey;
}

.overview, .heading, .card{
  border-radius: 10px;
}

.last-name{
  color: lightgrey;
}

.bottom{
  border-radius: 10px 10px 0 0;
}

.logo{
  height: 160px;
  margin: auto;
}

.logo_wrapper{
  padding: 30px;
}

.skill_button_more{
  margin: auto;
}
.copyright{
  margin-bottom:0px;
}
